body {
  margin: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

P {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}
.nombre {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgb(0, 171, 194) 100%
  );
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
  color: gray;
  display: inline;
  font-size: 4em;
  letter-spacing: 8px;
  animation: pre-load 4s linear infinite;
}

@keyframes pre-load {
  0% {
    color: gray;
    text-shadow: none;
  }

  20% {
    color: gray;
    text-shadow: none;
  }

  40% {
    color: black;
    text-shadow: 0 0 7px gray, 0 0 50px black;
  }
  60% {
    color: gray;
    text-shadow: none;
  }
  80% {
    color: gray;
    text-shadow: none;
  }
  100%{
    color: gray;
    text-shadow: none;
  }
}

li:nth-child(1){
    animation-delay:0.2s;
}
li:nth-child(2){
    animation-delay:0.4s;
}
li:nth-child(3){
    animation-delay:0.6s;
}
li:nth-child(4){
    animation-delay:0.8s;
}
li:nth-child(5){
    animation-delay:1s;
}
li:nth-child(6){
    animation-delay:1.2s;
}
li:nth-child(7){
    animation-delay:1.4s;
}
li:nth-child(8){
    animation-delay:1.6s;
}
li:nth-child(9){
    animation-delay:1.8s;
}
li:nth-child(10){
    animation-delay:2s;
}


